# .gitignore
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
/feedback-system-backend/instance/feedback_system.db

/feedback-system-backend/instance/*
!/feedback-system-backend/instance/
!/feedback-system-backend/instance/.gitkeep